*{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    
}
.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px;    
}

.navbar {
    padding: 15px;
    border-radius: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
}

nav a {
    font-weight: 500;
    transition: color 0.3s;
    justify-items: center;
    text-decoration: none;
    background-color: white;
    color: #000;
    border-radius: 25px;
    padding: 10px;
}

.menu .active {
  color:  white;
  border-bottom: 2px solid #00d9ff;
  padding: 4px;
  transition: 0.3s;
}

nav a:hover {
    background-color: aqua;
}

#home {
    margin: 10px;
}
    
/*#home .intro {
    text-align: left;
}*/

.about-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.text-container{
    text-align: center;
}

.intro {
    text-align: center;
    margin-top: 5px;
    margin-right: 100px;
    border: 1px solid navy;
    border-radius: 90px;
    max-width: 600px;
    max-height: 300px;
    background-color: navy;
    box-shadow: 0 0 25px rgba(0, 217, 255, 0.3);
    padding: 20px;
}

.intro p {
    color: white;
}

#home .intro .cta-buttons .btn {
    padding: 100px 10%;
    text-align: center;
    border-radius: 10px;  
}

.cta-buttons {
    margin-left: 500px;
}

.cta-buttons .btn-1 {
    padding: 10px; 
    margin-bottom: 100px;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: navy;
}

.cta-buttons .btn-2 {
    padding: 10px;
    color: black;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background-color: aliceblue;
}

.cta-buttons .btn-1:hover {
    background-color: aqua;
}

.cta-buttons .btn-2:hover:hover {
    background-color: aqua;
}

#home h1 {
    text-align: center;
    font-size: none;
    color: white;
}

.about-image img {
    display: flex;
    flex-direction: row-reverse;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 4px  crimson;
    margin: 100px;
    box-shadow: 0 0 25px rgba(0, 217, 255, 0.3);
    transition: transform 0.4s ease;
}

.about-image img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00d9ff;
}

.skills-header{
    text-align: center;
}

#skills table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 20px; 
    overflow: hidden;   
}

#skills table:hover {
    color: blueviolet;
    transform: scale(1.1);
}

#skills {
    text-align: center;
    margin-bottom: 100px; 
}

#skills th, #skills td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

#skills th {
    background-color: navy;
    color: white;
    font-weight: 600;
}

#skills td {
    color: black;
    background-color: white;
}

.project-container {
    margin-top: 100px;
}

#projects img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

.project-image {
    display: flex;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 217, 255, 0.3);
}

.project-image div {
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    background-color: navy;
}

.project-card {
    width: 40px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    gap: 15px;
    margin-left: 250px;
    overflow: visible;
}

.project-card1 {
    width: 40px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    gap: 15px;
    margin-left: 500px;
    overflow: visible;
}

.project-container {
    margin-top: 50px;
}

#projects img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00d9ff;
}

#projects {
    text-align: center;
}

#hobbies {
    text-align: left;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 217, 255, 0.3);
    text-align: center;    
}

#contact label {
    color: white;
    margin: 10px 0 5px   
}

#contact h2 {
    text-align: center;
}

#contact input, #contact textarea {
    padding: 10px;
    border: 10px;
    border-radius:20px;
    background: white;
    font-size: 1rem;
    color: white;
    resize: none;  
}

#contact button {
    padding: 10px;
    border: 10px;
    color: black;
    border-radius: 20px;
    background: navy;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}

#contact button:hover {
    background: aqua;
}
 
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .content-container {
        grid-template-columns: 1fr;
    }
}